<div class="col-lg-12  m-0 p-0">
    <div class="img-home">

        <div class="fondo-opacidad">
            <div class="container txt-home text-center">
                <h1 class="display-4">{{page_title}}</h1>
                <p class="lead">¿Que te gustaria hacer? <span class="typed"></span></p>

                <p>


                    <a href="#" class="btn btn-primary btn-lg mr-3"> Ver temas</a>

                    <a href="#" class="btn btn-success btn-lg mr-3"> Ver Compañeros</a>

                    <a href="#" class="btn btn-warning btn-lg mr-3"> Añade un nuevo tema</a>
                </p>
            </div>
        </div>

    </div>






</div>